body {
    background-color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color:crimson;
    text-shadow: 5px 5px 6px black
}

h2 {
    text-align: center;
    color: navy;
}
li {
    color: rgb(0, 0, 130)
}

